@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --zero-dp: #1a1b1e;
  --one-dp: #202125;
  --text-color: #E9EFF6;
}


body {
  background: var(--zero-dp);
  padding: 10px;
  text-align: center;
}

.main-title{
  color: var(--text-color);
  margin-top: 0.8em;
  font-size: 4em;
  font-family: 'Pacifico', cursive;
}


.search-bar {
  height: 30px;
  border-radius: 4px;
  background-color: rgb(230, 230, 230);
  width: 40vw;
  border: 0;
  box-shadow: 1px 1px 5px rgb(155, 155, 155);
}

.search-button {
  width: 60px;
  border: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(155, 155, 155);
  background-color: rgb(230, 230, 230);
  background-color: white;
  height: 30px;
}


/* ---- distinction -----------*/

.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100vw-10px);
  margin-top: 20px;
}

/*-----profile card-----*/


.profile-card {
  width: 20vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: space-evenly;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  flex:1;
}
@media(max-width:740px)
{
  .profile-card{
    width:99vw;
  }
  .content{
    flex-direction: column;
  }
  .search-bar{
    width:60vw;
  }
  .repo-area{
    width: 99vw;
  }
}

.wrapper {
  text-align: center;
  width: 300px;
  height: 520px;
  background: var(--one-dp);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.wrapper .profile {
  margin-top: 0.5em;
  position: relative;
}

.wrapper .profile:after {
  width: 100%;
  height: 1px;
  content: ' ';
  display: block;
  margin-top: 1.3em;
  background: var(--text-color);
}

.wrapper .language {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2em;
  font-weight: 400;
}

.wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: -webkit-box;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em;
  border-radius: 80%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.wrapper .profile .name {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.wrapper .profile .description {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3em;
}

.wrapper .profile .btn {
  color: var(--text-color);
  width: 130px;
  height: 42px;
  outline: none;
  border: 0.4px solid var(--text-color);
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  background: -webkit-linear-gradient(to bottom right, from(var(--one-dp)), to(rgb(138, 138, 138)));
  background: linear-gradient(to bottom right, from(var(--one-dp)), to(rgb(138, 138, 138)));
}

.wrapper .social-icons {
  display: -webkit-box;
  display: flex;
  margin-top: 1.2em;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.wrapper .social-icons .icon {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.wrapper .social-icons .icon a {
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

.wrapper .social-icons .icon:nth-of-type(1) a {
  background: -webkit-gradient(linear, left top, right bottom, from(#C90A6D), to(#FF48A0));
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}

.wrapper .social-icons .icon:nth-of-type(2) a {
  background: -webkit-gradient(linear, left top, right bottom, from(#5E5AEC), to(#3F9EFC));
  background: linear-gradient(to bottom right, #5E5AEC, #3F9EFC);
}

.wrapper .social-icons .icon:nth-of-type(3) a {
  background: -webkit-gradient(linear, left top, right bottom, from(#6452E9), to(#639FF9));
  background: linear-gradient(to bottom right, #6452E9, #639FF9);
}

.wrapper .social-icons .icon h5 {
  color: var(--text-color);
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: .2em;
}

/* ----- repo area---*/

.repo-area {
  width:50vw;
  position: relative;
  height:90vh;
  flex:1;
  float: right;
}