
body{
  background: #1a1b1e;
}

.profile-card {
  width: 300px;
  height: 200px;
  margin: 80px auto;
  background: #1a1b1e;
  box-shadow: -10px -10px 20px #242529, 10px 10px 10px black, 10px 10px 10px #151518;
  border-radius: 25px;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: .2s ease-in-out;
  transition: .4s ease-in-out;
}
.profile-card:hover {
  -webkit-animation: sqw 2s infinite;
          animation: sqw 2s infinite;
}

@-webkit-keyframes sqw {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes sqw {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}